In [1]:
import pandas as pd

In [2]:
class Author:
    def __init__(self, first_name, last_name):
        self.first_name = first_name
        self.last_name = last_name

In [37]:
class Article:
    def __init__(self, 
                 article_id, 
                 title, 
                 publication, 
                 abstract, 
                 base64_file, 
                 publication_date,
                 volume, 
                 year, 
                 issue, 
                 page_number, 
                 section_title,
                 section_policy,
                 section_reference,
                 doi,
                 authors):
        
        self.article_id = article_id
        self.title = title
        self.publication = publication
        self.abstract = abstract
        self.base64_file = base64_file
        self.publication_date = publication_date
        self.volume = volume
        self.year = year
        self.issue = issue
        self.page_number = page_number
        self.section_title = section_title
        self.section_policy = section_policy
        self.section_reference = section_reference
        self.doi = doi
        self.authors = authors
    
    def export_authors(self):
        #generate a dict with authors and column titles
        amount_of_authors = len(self.authors)
        author_id = 0
        output = {}
        for a in self.authors:
            first_name_column = 'author_given_name_' + str(author_id)
            last_name_column = 'author_family_name_' + str(author_id)
            output[first_name_column] = [a.first_name]
            output[last_name_column] = [a.last_name]
            author_id += 1
        
        return output
    
    def to_row(self):
        #function that outputs the article as a single row for a df, as a list
        output = {'article_id': [self.article_id],
                 'title': [self.title],
                 'publication': [self.publication],
                'abstract': [self.abstract],
                'file': [self.base64_file],
                'publication_date': [self.publication_date],
                'volume': [self.volume],
                'year': [self.year],
                'issue': [self.issue],
                'page_number': [self.page_number],
                'section_title': [self.section_title],
                'section_policy': [self.section_policy],
                'section_reference': [self.section_reference],
                'doi': [self.doi]}
        
        authors = self.export_authors()
        
        output = output | authors
        
        return output

In [38]:
sample = Article(1,
                'TestTitle',
                'ERLACS_journal',
                'Dit is de abstract',
                'placeholder for file',
                'yyyy-mm-dd',
                'vol 1',
                '2025',
                'issue 1',
                '1-12',
                'Artikelen',
                'Dit is beleid voor artikelen',
                 'ART',
                'doi.org/test',
                [Author('Stella', 'Verkijk'), Author('Dung', 'Pham')])

In [48]:
sample2 = Article(1,
                'TestTitle',
                'ERLACS_journal',
                'Dit is de abstract',
                'placeholder for file',
                'yyyy-mm-dd',
                'vol 1',
                '2025',
                'issue 1',
                '1-12',
                'Artikelen',
                'Dit is beleid voor artikelen',
                 'ART',
                'doi.org/test',
                [Author('Stella', 'Verkijk'), Author('Dung', 'Pham'), Author('Brecht', 'Nijman')])

In [27]:
sample.export_authors()

{'author_given_name_0': 'Stella',
 'author_family_name_0': 'Verkijk',
 'author_given_name_1': 'Dung',
 'author_family_name_1': 'Pham'}

In [39]:
sample.to_row()

{'article_id': [1],
 'title': ['TestTitle'],
 'publication': ['ERLACS_journal'],
 'abstract': ['Dit is de abstract'],
 'file': ['placeholder for file'],
 'publication_date': ['yyyy-mm-dd'],
 'volume': ['vol 1'],
 'year': ['2025'],
 'issue': ['issue 1'],
 'page_number': ['1-12'],
 'section_title': ['Artikelen'],
 'section_policy': ['Dit is beleid voor artikelen'],
 'section_reference': ['ART'],
 'doi': ['doi.org/test'],
 'author_given_name_0': ['Stella'],
 'author_family_name_0': ['Verkijk'],
 'author_given_name_1': ['Dung'],
 'author_family_name_1': ['Pham']}

In [41]:
foo = pd.DataFrame.from_dict(sample.to_row())

In [49]:
bar = pd.DataFrame.from_dict(sample2.to_row())

In [43]:
foo

,article_id,title,publication,abstract,file,publication_date,volume,year,issue,page_number,section_title,section_policy,section_reference,doi,author_given_name_0,author_family_name_0,author_given_name_1,author_family_name_1
0,1,TestTitle,ERLACS_journal,Dit is de abstract,placeholder for file,yyyy-mm-dd,vol 1,2025,issue 1,1-12,Artikelen,Dit is beleid voor artikelen,ART,doi.org/test,Stella,Verkijk,Dung,Pham

In [50]:
bar

,article_id,title,publication,abstract,file,publication_date,volume,year,issue,page_number,section_title,section_policy,section_reference,doi,author_given_name_0,author_family_name_0,author_given_name_1,author_family_name_1,author_given_name_2,author_family_name_2
0,1,TestTitle,ERLACS_journal,Dit is de abstract,placeholder for file,yyyy-mm-dd,vol 1,2025,issue 1,1-12,Artikelen,Dit is beleid voor artikelen,ART,doi.org/test,Stella,Verkijk,Dung,Pham,Brecht,Nijman

In [51]:
y = [foo, bar]

In [52]:
pd.concat(y).reset_index()

,index,article_id,title,publication,abstract,file,publication_date,volume,year,issue,...,section_title,section_policy,section_reference,doi,author_given_name_0,author_family_name_0,author_given_name_1,author_family_name_1,author_given_name_2,author_family_name_2
0,0,1,TestTitle,ERLACS_journal,Dit is de abstract,placeholder for file,yyyy-mm-dd,vol 1,2025,issue 1,...,Artikelen,Dit is beleid voor artikelen,ART,doi.org/test,Stella,Verkijk,Dung,Pham,NaN,NaN
1,0,1,TestTitle,ERLACS_journal,Dit is de abstract,placeholder for file,yyyy-mm-dd,vol 1,2025,issue 1,...,Artikelen,Dit is beleid voor artikelen,ART,doi.org/test,Stella,Verkijk,Dung,Pham,Brecht,Nijman